@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(45deg, #410075, #000000);
  --foreground: #ededed;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-Regular.ttf') format('truetype');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-Italic.ttf') format('truetype');
  font-weight: 400;
  /* Italic */
  font-style: italic;
}

body {
  background: black; /* Fallback */
  background: var(--background);
  font-family: 'Cascadia Code', monospace;
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #12061b, #3d0e53);
    --foreground: #ededed;
  }
}
